<h1>New Article</h1>

<%= form_with model: @event do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :desc %><br>
    <%= form.text_field :desc %>
  </div>

  <div>
    <%= form.label :strike %><br>
    <%= form.time_field :strike %>
  </div>

  <div>
    <%= form.label :repeat %><br>
    <%= form.text_field :repeat %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
